apiVersion: v1
kind: Service
metadata:
  name: {{ svc_name }}
  namespace: {{ ns_name }}
spec:
  ports:
    - name: http
      port: 80
      targetPort: {{ port_expose }}
  selector:
    app: {{ po_lable }}
